
//------------------------------------------------------------------------------
//  BADGE
//
//  number in elipse indicating "number of items"
//------------------------------------------------------------------------------

  .badge {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;

    border: 1px solid rgba(255,255,255,.3);
    border-radius: 17px;
    background: rgba(255,255,255,.1);
    padding: 6px;
    min-width: 34px;
    height: 34px;
    font-size: 1.1em;
    line-height: 1.3;

  }
