
//------------------------------------------------------------------------------
// MAIN HEADER
//------------------------------------------------------------------------------

.header {
  background: #3d3d40;
  padding: .3em 20px;
  display: flex;

  h1 {
    margin-bottom: 0;
    color: rgba(255,255,255, .9);
   }

  h2 {
    margin-top: .2em;
    color: rgba(255,255,255, .5);
  }

  .btn {

    font-size: 12px;
    background-color: #646466;
    color: rgba(255,255,255,.5);

    &:hover {
      background-color: #7a7a7b;
      color: rgba(255,255,255,.7);
    }

  }

  .manage-btn-container {
    margin: 16px 0 auto auto;

  }

}
