
//------------------------------------------------------------------------------
// SUBJECT TILES
//------------------------------------------------------------------------------

  section {

    &.subject-tiles {

      background: #1db3e7;

      a { text-decoration: none; }

    }

  }


  .subject-tile-container {

    display: flex;
    flex-wrap: wrap;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: rgba(255,255,255,.25);

  }


  .subject-tile {

    display: inline-flex;
    align-items: center;
    flex: 0 0 25%;

    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: rgba(255,255,255,.25);
    background: #1db3e7;
    padding: 20px;
    color: white;

    transition: all 300ms;

    &:hover {

      background: #15a7da;
      cursor: pointer;

    }


    h1 {

      font-size: 1.25em;
      font-weight: normal;
      margin: 0 10px 0 0;

    }


  } // .subject-tile






  // Screen width up to 800px

  @media screen and (max-width: 800px) {

    .subject-tile { flex-basis: 33.333%; }

  }


  // Screen width up to 600px

  @media screen and (max-width: 600px) {

    .subject-tile { flex-basis: 50%; }

  }


  // Screen width up to 400px

  @media screen and (max-width: 400px) {

    .subject-tile { flex-basis: 100%; }

  }


  // Screen widths 801px to 1279px
  // default styles defined in sass above


  // Screen width 1280px and over

  @media screen and (min-width: 1280px) {

    .subject-tile { flex-basis: 20%; }

  }
